<mat-card class="center">
  <mat-card-title>Potwierdzenie</mat-card-title>
  <br>
    <mat-card-content *ngIf="doctorDto!=undefined && patientDto!=undefined && visitDto!=undefined">
      <div class="leftCon">
        <h3>Dane lekarza:</h3>
        <span><b>Imię:</b> {{doctorDto.firstName}}</span><br><br>
        <span><b>Nazwisko:</b> {{doctorDto.lastName}}</span><br><br>
        <span><b>E-mail:</b> {{doctorDto.email}}</span><br><br>
        <span><b>Numer telefonu:</b> {{doctorDto.phoneNumber}}</span><br><br><br>
      </div>
      <div class="centerCon">
        <h3>Moje dane:</h3>
        <span><b>Imię:</b> {{patientDto.firstName}}</span><br><br>
        <span><b>Nazwisko:</b> {{patientDto.lastName}}</span><br><br>
        <span><b>E-mail:</b> {{patientDto.email}}</span><br><br>
        <span><b>Numer telefonu:</b> {{patientDto.phoneNumber}}</span><br><br><br>
        <button mat-raised-button color="primary" (click)="confirm()">Potwierdź</button>
      </div>
      <div class="rightCon">
        <h3>Dane dotyczące wizyty:</h3>
        <span><b>Data:</b> {{visitDto.dateTimeVisit.toLocaleString()}}</span><br><br>
        <span><b>Miejscowość:</b> {{doctorDto.city}}</span><br><br>
      </div>
    </mat-card-content>
</mat-card>
