.center{
  /*margin: auto;*/
  text-align: center;
  height: 300px;
}

.leftCon {
  float: left;
  width: 33%;
}

.rightCon {
  float: left;
  width: 33%;
}

.centerCon{
  float: left;
  width: 33%;
}
