<mat-card>
  <div *ngIf="patientDto!=undefined && patientDto.visitList.length>0" class="center">
    <mat-card-title>Moje wizyty</mat-card-title>
  </div>
  <div *ngIf="patientDto!=undefined && patientDto.visitList.length===0" class="center">
    <mat-card-title>Nie masz żadnych wizyt</mat-card-title>
  </div>
  <mat-accordion *ngIf="patientDto!=undefined" class="example-headers-align">
    <mat-expansion-panel *ngFor="let visit of patientDto.visitList" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{visit.dateTimeVisit.toLocaleString()}}
        </mat-panel-title>

        <mat-panel-description *ngIf="!visit.isCanceledByDoctor && visit.isAppointed
                      && !(visit.dateTimeVisit <= nowDate)">
          Jesteś umówiony&nbsp;&nbsp;
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
        <mat-panel-description *ngIf="!visit.isCanceledByDoctor && visit.isAppointed
                      && (visit.dateTimeVisit <= nowDate)">
          Po wizycie &nbsp;&nbsp;
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
        <mat-panel-description *ngIf="visit.isCanceledByDoctor">
          Lekarz odwołał wizytę &nbsp;&nbsp;
          <mat-icon class="material-icons-error">highlight_off</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!--poczatek wnetrza-->
      <div class="leftCon">
        <h2>Informacje o lekarzu:</h2>
        <mat-icon>account_circle</mat-icon>&nbsp;
        <span>{{visit.doctor.firstName}} {{visit.doctor.lastName}}</span><br><br>
        <mat-icon> call</mat-icon>&nbsp;
        <span>{{visit.doctor.phoneNumber}}</span><br><br>
        <mat-icon> email</mat-icon>&nbsp;
        <span>{{visit.doctor.email}}</span><br><br>
        <mat-icon> location_on</mat-icon>&nbsp;
        <span>{{visit.doctor.city}}</span><br><br>
        <mat-icon *ngIf="visit.isCanceledByDoctor" class="material-icons-error">highlight_off</mat-icon>&nbsp;
        <span *ngIf="visit.isCanceledByDoctor">Lekarz odwołał wizytę</span><br><br>
        <span *ngIf="visit.opinion!=null">
          <br>
             <span *ngFor="let item of starList; let i=index ">
                 <mat-icon *ngIf="i<visit.opinion.rate">star</mat-icon>
                 <mat-icon *ngIf="i>=visit.opinion.rate">star_border</mat-icon>
              </span><br>
          {{visit.opinion.opinion}}
        </span>
      </div>
      <div class="centerCon">
        <br><br>
        <h3>Specjalizacja:</h3>
        <li *ngFor="let specialization of visit.doctor.specializationList">{{specialization.name}}</li>
        <br><br>
        <button mat-raised-button color="primary" [disabled]="visit.isCanceledByDoctor ||
                                            (visit.dateTimeVisit <= nowDate)"
                (click)="cancelPatientVisit(visit.id)">Rezygnuj
        </button>
        <br> <br>
        <span *ngIf="!visit.isCanceledByDoctor &&
                                            (visit.dateTimeVisit <= nowDate)">
              <button mat-raised-button color="primary" [disabled]="visit.opinion!=null" (click)="addOpinion(visit.id)">Dodaj opinię</button>
        </span>
      </div>
      <div class="rightCon">
        <br><br>
        <h3>Cennik:</h3>
        <li *ngFor="let service of visit.doctor.priceList">{{service.name}}: {{service.price}}zł</li>
      </div>
      <!--koniec wnetrza-->
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>




