<mat-card-content class="listOpinion" *ngIf="opinionList!=undefined">
          <span *ngIf="opinionList.length > 0">
           <mat-list *ngFor="let opinion of opinionList">
             <mat-list-item>
               <span *ngFor="let item of starList; let i=index ">
                 <mat-icon *ngIf="i<opinion.rate">star</mat-icon>
                 <mat-icon *ngIf="i>=opinion.rate">star_border</mat-icon>
               </span>
               {{opinion.opinion}}
             </mat-list-item>
           </mat-list>
          </span>
  <span *ngIf="opinionList.length === 0">
            <br>
            <h3>Nie masz żadnych opinii</h3>
          </span>
  <br><br>
  <div class="center">
    <button (click)="close()" mat-raised-button color="primary">Zamknij</button>
  </div>
</mat-card-content>


