<mat-card *ngIf="!isEmpty">
  <div class="center">

  </div>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let doctor of doctorList" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{doctor.firstName}} {{doctor.lastName}}
        </mat-panel-title>
        <mat-panel-description>
          {{doctor.city}}
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!--poczatek wnetrza-->
      <div class="leftCon"><br>
        <mat-icon> call</mat-icon>&nbsp;
        <span>{{doctor.phoneNumber}}</span><br><br>
        <mat-icon> email</mat-icon>&nbsp;
        {{doctor.email}} <br><br>
        <mat-icon> location_on</mat-icon>&nbsp;
        {{doctor.city}} <br><br><br><br>
        <button [disabled]="doctor.opinionList.length === 0"
                (click)="openOpinion(doctor)" mat-raised-button color="primary">Pokaż opinie ({{doctor.opinionList.length}})</button><br>

      </div>
      <div class="centerCon">
        <h3>Specjalizacja:</h3>
        <li *ngFor="let specialization of doctor.specializationList">{{specialization.name}}</li>

        <h3>Cennik:</h3>
        <li *ngFor="let service of doctor.priceList">{{service.name}}: {{service.price}}zł</li>

      </div>
      <div class="rightCon">
        <mat-form-field class="example-full-width">
          <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="filter.date"
                 placeholder="Termin wizyty">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <p *ngFor="let visit of doctor.visitList">
          <span *ngIf="visit.dateTimeVisit.toLocaleDateString() === filter.date.toLocaleDateString()">
          <button [disabled]="visit.isAppointed || (visit.dateTimeVisit <= nowDate)"
                  (click)="makeAppoinment(doctor.id, visit.id)" mat-raised-button color="primary">
            {{visit.dateTimeVisit.toLocaleTimeString()}}</button><br>
          </span>
        </p>
      </div>
      <!--koniec wnetrza-->
    </mat-expansion-panel>

  </mat-accordion>

</mat-card>
<mat-card *ngIf="isEmpty" class="center">
  <mat-card-title>Nie znaleziono żadnego lekarza</mat-card-title>
</mat-card>


