.center{
  /*margin: auto;*/
  text-align: center;
}

.mat-cell, .mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.example-full-width {
  text-align: center;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.leftCon {
  float: left;
  width: 33%;
}

.centerCon {
  float: left;
  width: 33%;
}

.rightCon {
  float: left;
  width: 33%;
}
