<mat-card class="center">
  <mat-card-title>Rejestracja</mat-card-title>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Jestem pacjentem"><br>
      <div class="stepperPatient">
        <mat-card-content>
          <mat-horizontal-stepper [linear]="true" #stepperPatient>
            <!--1 ekran - dane osobowe-->
            <mat-step [stepControl]="formPatient"><br>
              <form class="form-inline" #formPatient="ngForm">
                <ng-template matStepLabel>Dane osobowe</ng-template>
                <br>
                <mat-form-field>
                  <input matInput type="text" id="firstNamePatient" placeholder="Imię" name="firstName"
                         [(ngModel)]="patientDto.firstName" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput type="text" id="lastNamePatient" placeholder="Nazwisko" name="lastName"
                         [(ngModel)]="patientDto.lastName" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput type="text" id="emailPatient" placeholder="Adres email" name="email"
                         pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"
                         [(ngModel)]="patientDto.email" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput type="text" id="phonePatient" placeholder="Numer telefonu" name="phone"
                         pattern="[0-9]{9}"
                         [(ngModel)]="patientDto.phoneNumber" required>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput type="password" id="passwordPatient" placeholder="Hasło" name="password"
                         [(ngModel)]="patientDto.password" required>
                </mat-form-field>
                <br>
                <div>
                  <button [disabled]="!formPatient.valid" mat-button matStepperNext>Dalej</button>
                </div>
              </form>
            </mat-step>
            <!--2 ekran - podsumowanie-->
            <mat-step><br>
              <ng-template matStepLabel>Podsumowanie</ng-template>
              <h3>Dane osobowe:</h3>
              <span><b>Imię:</b> {{patientDto.firstName}}</span><br><br>
              <span><b>Nazwisko:</b> {{patientDto.lastName}}</span><br><br>
              <span><b>E-mail:</b> {{patientDto.email}}</span><br><br>
              <span><b>Numer telefonu:</b> {{patientDto.phoneNumber}}</span><br><br>

              <mat-error *ngIf="errorPatient">{{errorDescriptionPatient}}</mat-error>
              <br>

              <div>
                <button mat-button matStepperPrevious>Powrót</button>
                <button mat-button (click)="stepperPatient.reset()" (click)="resetPatient()">Resetuj</button>
                <button mat-button (click)="addPatient()">Załóż konto</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card-content>
      </div>
    </mat-tab>


    <mat-tab label="Jestem lekarzem"><br>
      <div class="stepper">
        <mat-card-content>
          <mat-horizontal-stepper [linear]="true" #stepper>
            <!--1 ekran - dane osobowe-->
            <mat-step [stepControl]="formDoctor"><br>
              <form #formDoctor="ngForm">
                <ng-template matStepLabel>Dane osobowe</ng-template>
                <mat-form-field>
                  <input matInput type="text" id="firstNameDoctor" placeholder="Imię" name="firstName"
                         [(ngModel)]="doctorDto.firstName" required>
                </mat-form-field>&nbsp;&nbsp;
                <mat-form-field>
                  <input matInput type="text" id="lastNameDoctor" placeholder="Nazwisko" name="lastName"
                         [(ngModel)]="doctorDto.lastName" required>
                </mat-form-field>
                <br>

                <mat-form-field>
                  <input matInput type="text" id="emailDoctor" placeholder="Adres email" name="email"
                         pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"
                         [(ngModel)]="doctorDto.email" required>
                </mat-form-field>&nbsp;&nbsp;
                <mat-form-field>
                  <input matInput type="text" id="phoneDoctor" placeholder="Numer telefonu" name="phone"
                         pattern="[0-9]{9}"
                         [(ngModel)]="doctorDto.phoneNumber" required>
                </mat-form-field>
                <br>

                <mat-form-field>
                  <input matInput type="text" id="city" placeholder="Miejscowość" name="city"
                         [(ngModel)]="doctorDto.city" required>
                </mat-form-field>&nbsp;&nbsp;
                <mat-form-field>
                  <input matInput type="password" id="passwordDoctor" placeholder="Hasło" name="password"
                         [(ngModel)]="doctorDto.password" required>
                </mat-form-field>
                <br>

                <div>
                  <button [disabled]="!formDoctor.valid" mat-button matStepperNext>Dalej</button>
                </div>
              </form>
            </mat-step>

            <!--2 ekran - dane dodatkowe-->
            <mat-step><br>
              <div class="leftCon">
                <ng-template matStepLabel>Dane dodatkowe</ng-template>
                <h3>Specjalizacja:</h3>
                <mat-form-field>
                  <mat-select placeholder="Specjalizacja" name="specialization" [(ngModel)]="doctorDto.specializationList"
                              multiple>
                    <mat-option *ngFor="let specialization of specializationList" [value]="specialization">
                      {{specialization.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="centerCon">
                <form #formPrice="ngForm">
                  <h3>Cennik:</h3>
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" id="name" name="name" #name="ngModel" placeholder="Usługa"
                           aria-label="Number" list="medicalServiceList"
                           [(ngModel)]="priceOfTheServiceDto.name" required>
                    <datalist id="medicalServiceList">
                      <option *ngFor="let medicalService of medicalServiceList" [ngValue]="medicalService.name">
                        {{medicalService.name}}
                      </option>
                    </datalist>
                  </mat-form-field>
                  <br>

                  <mat-form-field>
                    <input matInput type="number" id="price" placeholder="Cena" name="price" #price="ngModel"
                           [(ngModel)]="priceOfTheServiceDto.price" required>
                  </mat-form-field>
                  <br>
                </form>
                <button [disabled]="!formPrice.valid" mat-button (click)="addPriceOfTheService()">Dodaj usługę</button>
              </div>

              <div class="rightCon">
                <h3>Terminy wizyt:</h3>
                <form #formVisit="ngForm">
                  <mat-form-field class="example-full-width">
                    <input matInput id="date_date" name="date_date" [min]="minDate" [matDatepicker]="picker" [(ngModel)]="visit.date"
                           placeholder="Data" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-select placeholder="Godziny" id="date" name="date" [(ngModel)]="visit.time" multiple required="">
                      <mat-option *ngFor="let hour of listHours" [value]="hour">
                        {{hour}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field><br>
                </form>
                <button [disabled]="!formVisit.valid" mat-button (click)="addVisit()">Dodaj terminy</button>
                <br><br>
              </div>

              <div>
                <button mat-button matStepperPrevious>Powrót</button>
                <button mat-button matStepperNext>Dalej</button>
              </div>
            </mat-step>

            <!--3 ekran - podsumowanie-->
            <mat-step><br>
              <ng-template matStepLabel>Podsumowanie</ng-template>
              <h3>Dane osobowe:</h3>
              <span><b>Imię:</b> {{doctorDto.firstName}}</span><br><br>
              <span><b>Nazwisko:</b> {{doctorDto.lastName}}</span><br><br>
              <span><b>E-mail:</b> {{doctorDto.email}}</span><br><br>
              <span><b>Numer telefonu:</b> {{doctorDto.phoneNumber}}</span><br><br>
              <div *ngIf="doctorDto.specializationList.length>0">
                <h3>Specjalizacje:</h3>
                <li *ngFor="let specialization of doctorDto.specializationList">{{specialization.name}}</li>
                <br>
              </div>

              <div *ngIf="doctorDto.priceList.length>0">
                <h3>Usługi:</h3>
                <li *ngFor="let service of doctorDto.priceList">{{service.name}}: {{service.price}}zł</li>
                <br>
              </div>

              <div *ngIf="doctorDto.visitList.length>0">
                <h3>Terminy:</h3>
                <li *ngFor="let visit of doctorDto.visitList">{{visit.dateTimeVisit.toLocaleString()}}</li>
                <br>
              </div>

              <mat-error *ngIf="errorDoctor">{{errorDescriptionDoctor}}</mat-error>
              <br>

              <div>
                <button mat-button matStepperPrevious>Powrót</button>
                <button mat-button (click)="stepper.reset()" (click)="resetDoctor()">Resetuj</button>
                <button mat-button (click)="addDoctor()">Załóż konto</button>
              </div>
            </mat-step>

          </mat-horizontal-stepper>
        </mat-card-content>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
