.center{
  /*margin: auto;*/
  text-align: center;
}

.stepper{
  display: inline-block;
  width: 70%;
}

.stepperPatient{
  display: inline-block;
  width: 30%;
}

.mat-form-field {
  width: 250px;
}

.leftCon {
  float: left;
  width: 33%;
}

.centerCon {
  float: left;
  width: 33%;
}

.rightCon {
  float: left;
  width: 33%;
}
