<mat-card class="center">
  <mat-card-title >Logowanie</mat-card-title>
  <form #form="ngForm" (ngSubmit)="loginConnect()">
    <mat-form-field>
      <input matInput placeholder="Login" class="form-control" name="login" id ="login" [(ngModel)]="user.login" #login="ngModel" required>
    </mat-form-field>
    <br><br>
    <mat-form-field>
      <input matInput placeholder="Hasło" [type]="hide ? 'password' : 'text'" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="error">{{errorDescription}}</mat-error>
    <br><br>
    <button mat-raised-button [disabled]="!form.valid" type="submit">Zaloguj</button><br><br>

  </form>
</mat-card>
