<mat-card class="center">
  <br><br>
  <mat-card-content>
  </mat-card-content>
  <i class="material-icons">check_circle</i>
  <br>Wszystko przebiegło pomyślnie
  <br><br><br><br>
  <div>
    <button mat-button routerLink="/home">Powrót do strony głównej</button>
  </div>
</mat-card>
