.center{
  /*margin: auto;*/
  text-align: center;
}

.stepper{
  display: inline-block;
  width: 60%;
}

.leftCon {
  float: left;
  width: 50%;
}

.rightCon {
  float: left;
  width: 50%;
}

mat-chip {
  float: left;
  max-width: 130px;
  text-align: center;
}

.listOpinion {
  display: inline-block;
  width: 60%;
}
