<mat-card class="center">
  <mat-card-title>Moje konto</mat-card-title>
  <mat-tab-group mat-align-tabs="center">
    <!--dane 1 zakladka-->
    <mat-tab label="Moje dane"><br>
      <div>
        <br>
        <mat-card-content>
          <form #formDoctor="ngForm" *ngIf="doctorDto!=undefined">
            <ng-template matStepLabel>Dane osobowe</ng-template>
            <mat-form-field>
              <input matInput type="text" id="firstNameDoctor" placeholder="Imię" name="firstName"
                     [(ngModel)]="doctorDto.firstName" required>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field>
              <input matInput type="text" id="lastNameDoctor" placeholder="Nazwisko" name="lastName"
                     [(ngModel)]="doctorDto.lastName" required>
            </mat-form-field>
            <br>

            <mat-form-field>
              <input matInput type="text" id="city" placeholder="Miejscowość" name="city"
                     [(ngModel)]="doctorDto.city" required>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field>
              <input matInput type="text" id="phoneDoctor" placeholder="Numer telefonu" name="phone"
                     pattern="[0-9]{9}"
                     [(ngModel)]="doctorDto.phoneNumber" required>
            </mat-form-field>
            <br>

            <mat-form-field>
              <input matInput type="text" id="emailDoctor" placeholder="Adres email" name="email"
                     pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"
                     [(ngModel)]="doctorDto.email" required [disabled]="true">
            </mat-form-field>&nbsp;&nbsp;<br>

            <div>
              <button [disabled]="!formDoctor.valid" (click)="updateDoctor()" mat-button>Zapisz zmiany</button>
            </div>
          </form>
        </mat-card-content>
      </div>
    </mat-tab>


    <!--2 zakldka-->
    <mat-tab label="Dodatkowe informacje"><br>
      <div class="stepper">
        <mat-card-content>
          <mat-horizontal-stepper [linear]="false" #stepper>

            <!--1 specjalizacja-->
            <mat-step><br>
              <ng-template matStepLabel>Specjalizacja</ng-template>
              <div *ngIf="doctorDto!=undefined">
                <!--LEWA STRONA-->
                <div class="leftCon">
                  <h3>Moje specjalizacje:</h3>
                  <mat-chip-list class="mat-chip-list-stacked">
                  <span *ngFor="let specialization of doctorDto.specializationList">
                      <mat-chip (removed)="removeSpecialization(specialization.id)">{{specialization.name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                  </span>
                  </mat-chip-list>
                </div>
                <!--PRAWA STRONA-->
                <div class="rightCon">
                  <h3>Specjalizacja:</h3>
                  <form #formSpecialization="ngForm" *ngIf="doctorDto!=undefined">
                    <mat-form-field>
                      <mat-select placeholder="Specjalizacja" name="specialization"
                                  [(ngModel)]="newSpecializationForm.specialization" required>
                        <mat-option *ngFor="let specialization of specializationList" [value]="specialization">
                          {{specialization.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <br>
                    <button mat-button [disabled]="!formSpecialization.valid" (click)="addSpecialization()">
                      Dodaj specjalizację
                    </button>
                  </form>
                </div>
              </div>
            </mat-step>

            <!--2 ekran - Uslugi-->
            <mat-step><br>
              <ng-template matStepLabel>Usługi</ng-template>
              <div *ngIf="doctorDto!=undefined">
                <!--LEWA STRONA-->
                <div class="leftCon">
                  <h3>Moje usługi:</h3>
                  <mat-chip-list class="mat-chip-list-stacked">
                  <span *ngFor="let price of doctorDto.priceList">
                      <mat-chip (removed)="removePriceOfTheService(price.id)">{{price.name}}: {{price.price}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                    </span>
                  </mat-chip-list>
                </div>

                <!--PRAWA STRONA-->
                <div class="rightCon">
                  <h3>Dodaj usługę:</h3>
                  <form #formPrice="ngForm">
                    <mat-form-field class="example-full-width">
                      <input matInput type="text" id="name" name="name" #name="ngModel" placeholder="Usługa"
                             aria-label="Number" list="medicalServiceList"
                             [(ngModel)]="newPriceOfTheServiceForm.name" required>
                      <datalist id="medicalServiceList">
                        <option *ngFor="let medicalService of medicalServiceList" [ngValue]="medicalService.name">
                          {{medicalService.name}}
                        </option>
                      </datalist>
                    </mat-form-field>
                    <br>

                    <mat-form-field>
                      <input matInput type="number" id="price" placeholder="Cena" name="price" #price="ngModel"
                             [(ngModel)]="newPriceOfTheServiceForm.price" required>
                    </mat-form-field>
                    <br>
                  </form>
                  <button mat-button [disabled]="!formPrice.valid" (click)="addPriceOfTheService()">
                    Dodaj usługę
                  </button>
                </div>
              </div>
            </mat-step>


            <!--3 ekran - terminy-->
            <mat-step><br>
              <ng-template matStepLabel>Terminy wizyt</ng-template>
              <!--LEWA STRONA-->
              <div class="leftCon" *ngIf="doctorDto!=undefined">
                <h3>Wybrane terminy:</h3>
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker" [(ngModel)]="filter.date"
                         placeholder="Termin wizyty">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-chip-list class="mat-chip-list-stacked">
                  <span *ngFor="let visit of doctorDto.visitList">
                    <span *ngIf="visit.dateTimeVisit.toLocaleDateString() === filter.date.toLocaleDateString()">
                      <mat-chip>
                      {{visit.dateTimeVisit.toLocaleString()}}
                    </mat-chip>
                    </span>
                  </span>
                </mat-chip-list>
              </div>

              <!--PRAWA STRONA-->
              <div class="rightCon">
                <h3>Terminy wizyt:</h3>
                <form #formVisit="ngForm">
                  <mat-form-field class="example-full-width">
                    <input matInput id="date_date" name="date_date" [min]="minDate" [matDatepicker]="picker"
                           [(ngModel)]="visit.date"
                           placeholder="Data" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <mat-select placeholder="Godziny" id="date" name="date" [(ngModel)]="visit.time" multiple
                                required="">
                      <mat-option *ngFor="let hour of listHours" [value]="hour">
                        {{hour}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                </form>
                <button [disabled]="!formVisit.valid" mat-button (click)="addVisit()">Dodaj terminy</button>
                <br><br>
              </div>
            </mat-step>

          </mat-horizontal-stepper>
        </mat-card-content>
      </div>
    </mat-tab>

    <mat-tab label="Opinie"><br>
      <div>
        <mat-card-content class="listOpinion" *ngIf="doctorDto!=undefined">
          <span *ngIf="doctorDto.opinionList.length > 0">
           <mat-list *ngFor="let opinion of doctorDto.opinionList">
             <mat-list-item>
                <span *ngFor="let item of starList; let i=index ">
                 <mat-icon *ngIf="i<opinion.rate">star</mat-icon>
                 <mat-icon *ngIf="i>=opinion.rate">star_border</mat-icon>
               </span>
               {{opinion.opinion}}</mat-list-item><br>
           </mat-list>
          </span>
          <span *ngIf="doctorDto.opinionList.length === 0">
            <br>
            <h3>Nie masz żadnych opinii</h3>
          </span>
          <br><br>
        </mat-card-content>
      </div>
    </mat-tab>


    <!--3 zakładka-->
    <mat-tab label="Zmiana hasła"><br>
      <div class="stepper">
        <mat-card-content>
          <form #form="ngForm" (ngSubmit)="changePassword()">
            <mat-form-field>
              <input matInput [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Stare hasło"
                     name="oldPassword"
                     [(ngModel)]="password.oldPassword" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <br><br>
            <mat-form-field>
              <input matInput [type]="hide1 ? 'password' : 'text'" class="form-control" placeholder="Nowe hasło"
                     name="password"
                     [(ngModel)]="password.password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <br><br>
            <mat-form-field>
              <input matInput [type]="hide2 ? 'password' : 'text'" class="form-control" placeholder="Powtórz nowe hasło"
                     name="confirmPassword"
                     [(ngModel)]="password.confirmPassword" required>
              <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <br><br>
            <button mat-raised-button [disabled]="!form.valid" type="submit">Zmien hasło</button>
          </form>
        </mat-card-content>
      </div>
    </mat-tab>


  </mat-tab-group>
</mat-card>
